<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vyarotsky.alfred.dawg</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>E49EDA6B-930A-4EB8-AF19-A458271C4BC8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>D6403B15-9FD8-45EE-B03E-125B6501BCC4</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
      <key>D6403B15-9FD8-45EE-B03E-125B6501BCC4</key>
      <array>
        <dict>
          <key>modifiersubtext</key>
          <string></string>
          <key>destinationuid</key>
          <string>9C3D36CE-A633-4A17-B06D-910033D2ACD8</string>
          <key>modifiers</key>
          <integer>0</integer>
        </dict>
      </array>
      <key>7DF910C5-4EEB-441C-B8CF-7A538639ACEF</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>B9BEA565-F50B-44FB-9B33-94CA1484CC10</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>description</key>
    <string>Services at your fingertips :)</string>
    <key>name</key>
    <string>DAWG</string>
    <key>readme</key>
    <string></string>
    <key>createdby</key>
    <string>Vlad Yarotsky</string>
    <key>disabled</key>
    <false></false>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>dawg edit</string>
          <key>text</key>
          <string>Edit DAWG configuration</string>
          <key>withspace</key>
          <false></false>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>E49EDA6B-930A-4EB8-AF19-A458271C4BC8</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>type</key>
          <integer>0</integer>
          <key>concurrently</key>
          <false></false>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>set -e&#xA;trap &#39;echo Failed to update DAWG. Make sure there are no errors in config&#39; ERR&#xA;chmod +x ./dawg&#xA;open -n -W "$(./dawg -config)"&#xA;./dawg -update 2&gt;&amp;1&#xA;echo &#39;Updated!&#39;</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>D6403B15-9FD8-45EE-B03E-125B6501BCC4</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>removeextension</key>
          <false></false>
          <key>sticky</key>
          <false></false>
          <key>text</key>
          <string>{query}</string>
          <key>title</key>
          <string>DAWG</string>
          <key>lastpathcomponent</key>
          <false></false>
          <key>onlyshowifquerypopulated</key>
          <true></true>
          <key>output</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>9C3D36CE-A633-4A17-B06D-910033D2ACD8</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>B9BEA565-F50B-44FB-9B33-94CA1484CC10</string>
        <key>version</key>
        <integer>0</integer>
        <key>config</key>
        <dict>
          <key>utf8</key>
          <true></true>
          <key>plusspaces</key>
          <false></false>
          <key>url</key>
          <string>{query}</string>
        </dict>
      </dict>
      <dict>
        <key>version</key>
        <integer>0</integer>
        <key>config</key>
        <dict>
          <key>title</key>
          <string>www.github.com</string>
          <key>withspace</key>
          <true></true>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>keyword</key>
          <string>dawg github</string>
          <key>queuedelaycustom</key>
          <true></true>
          <key>queuemode</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>script</key>
          <string>chmod +x ./dawg &amp;&amp; ./dawg -service www.github.com &#34;{query}&#34;</string>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>7DF910C5-4EEB-441C-B8CF-7A538639ACEF</string>
      </dict>
    </array>
    <key>uidata</key>
    <dict>
      <key>9C3D36CE-A633-4A17-B06D-910033D2ACD8</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
      <key>B9BEA565-F50B-44FB-9B33-94CA1484CC10</key>
      <dict>
        <key>ypos</key>
        <real>140</real>
      </dict>
      <key>7DF910C5-4EEB-441C-B8CF-7A538639ACEF</key>
      <dict>
        <key>ypos</key>
        <real>140</real>
      </dict>
      <key>E49EDA6B-930A-4EB8-AF19-A458271C4BC8</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
      <key>D6403B15-9FD8-45EE-B03E-125B6501BCC4</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://github.com/v-yarotsky/dawg</string>
  </dict>
</plist>
